body {
    background-color: rgba(122, 0, 0, 0.212);
    padding: 10px;
    font-size: large;
}

.window, .windowConfirmtion, .windowReport {
    background-color: rgb(125, 15, 15);
    color: white;
    width: 890px;
    height: auto;

    /* below line allignes window to center */
    margin: auto;
    padding: 10px;
}

.styExpDeliveryOnsite, .sub, .subcol, .ITEM{
    display: flex;
}

button, .opt1, .opt2{
    background-color: rgb(125, 15, 15);
    color: white;
    border: 1px solid white;
    width: 140px;
    height: 20px;
}

.opt1, .opt2{
    width: 200px;
    height: 40px;
    font-size: large;
}

button:hover{
    background-color: rgb(170, 0, 0);
}

.buttonDefault {
    background-color: rgb(200, 100, 0);
}

.buttonSecond {
    background-color: rgb(97, 20, 6);
}

.windowReport, .styExpDeliveryOnsite, .expansionVersion{
    /* .windowReport, .styExpDeliveryOnsite, .expansionVersion, .windowConfirmtion{ */
    display: none;
}

input{
    width: 130px;
}

.ROW {
    display: flex;
    padding-bottom: 1px;
    height: 30px;
    /* background-color: blue; */
}

.ROWstatusButtons{
    height: 40px;
    padding-top: 20px;
}

.opt2{
    float: right;
}

.name{
    width: 140px;
}
.celler{
    padding-right: 10px;
}

.subcol{
    width: 150px;
}

p{
    display: inline;
}

h2{
    text-align: center;
    margin-top: 10px;
}

h3{
    font-size:larger;
    display: inline;
}

.form_sec_title{
    background-color: rgb(102, 34, 7);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px rgb(85, 0, 0) solid;
    border-top: 2px rgb(170, 0, 0) solid;
    border-left: 2px rgb(170, 0, 0) solid;
}

.form_main_sec{
    /* background-color: rgb(99, 59, 0); */
    padding: 10px;
    /* border: solid 1px green; */
}

.form_sec{
    /* border-bottom: rgb(192, 177, 37) 5px solid; */
    border-bottom: rgb(125, 15, 15) 5px solid;
}

.form_row{
    height: 40px;
    border-bottom: 2px rgb(85, 0, 0) solid;
    display: flex;
}
.line{
    display: inline;
    background-color: rgb(102, 34, 7);
    border-top: 2px rgb(170, 0, 0) solid;
    border-left: 2px rgb(170, 0, 0) solid;
}
.form_name{
    background-color: rgb(102, 34, 7);
}
.sub_left{
    width: 150px;
    text-align: right;
    background-color: rgb(102, 34, 7);
    padding: 10px;
}
.sub_right, .sub_right_list{
    width: 200px;
    padding: 10px;
}

.sub_right_list{
    width: auto;
}

.form_sub{
    display: flex;
    border-left: 2px rgb(170, 0, 0) solid;
}